VITE_SUPABASE_URL=your_supabase_project_url
VITE_SUPABASE_PUBLISHABLE_KEY=your_supabase_anon_key

# Default Testing Credentials:
# Admin  : admin@kedairasakita.com   / AdminRasaKita123!
# Cashier: cashier@kedairasakita.com / CashierRasaKita123!
